.contact {
  background-color: rgb(224, 234, 225);
  display: flex;
  height: 100vh;
}

.contact .left {
  flex: 1;
  overflow: hidden;
}

.contact .left img {
  height: 100%;
  width: 100%;
}

.contact .right h1 {
  color: #420516;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 40px;
  margin-top: 0;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(155, 151, 151);
  box-shadow: 10px 10px 15px 15px rgba(88, 85, 85, 0.5);
  padding: 35px 20px;
  transition: 1s ease-out;
  margin-bottom: 35px;
}
form:hover {
  transform: scale(1.1);
  transition: 1s ease-in;
}

input {
  width: 70%;
  height: 8%;
  font-size: 14px;
  padding: 10px;
  color: #440215;
}

textarea {
  width: 70%;
  height: 40%;
  font-size: 14px;
  padding: 15px;
  color: #440215;
}

form .contactButton {
  width: 50%;
  height: 10%;
  color: white;
  background-color: #7e0f2e;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding-bottom: 32px;
  border: 2px solid white;
  padding-top: 12px;
  transition: 1s ease-in;
}
form .contactButton:hover {
  border: 2px solid #500123;
  background-color: #da2256;
  transition: 1s ease-out;
}
.thanks {
  color: green;
  font-size: 25px;
  font-weight: bolder;
}

@media screen and (max-width: 900px) {
  form {
    width: 80%;
  }
  .contact .left {
    display: none;
  }
}
